<section class="training">
  <label class="details-label" for="{{options.id}}-pfs-training">{{localize "pfsorgplay-training.display.selection.label"}}</label>
  <div class="toggle{{#if data.pfs.training}} enabled{{/if}}">
    <input class="details-input" id="{{options.id}}-pfs-training" name="system.pfs.training" type="checkbox" {{checked data.pfs.training}} />
    <label for="{{options.id}}-pfs-training"></label>
  </div>
</section>

